<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="visang.dataplatform.dataportal.mapper.DataMapper">

    <!-- 데이터 포털 원형차트에 필요한 데이터 가져오기 -->
        <select id="getChartData" resultType="DataByCategoryDto">
        select ci.company_name, ci.company_id, ci.company_color, si.service_name, si.service_id, si.service_color, mc.main_category_name, mc.main_category_id,
               mc.main_category_color, sc.sub_category_name, sc.sub_category_id, sc.sub_category_color, count(tmi.table_meta_info_id) as loc
        from tb_company_info ci, tb_service_info si, tb_main_category mc, tb_sub_category sc, tb_table_meta_info tmi
        where ci.company_id = si.service_id and tmi.service_id = si.service_id and mc.main_category_id = tmi.main_category_id and tmi.sub_category_id = sc.sub_category_id
        group by mc.main_category_id, sc.sub_category_id, ci.company_name, ci.company_id, ci.company_color, si.service_name, si.service_id, si.service_color, mc.main_category_name, mc.main_category_id, mc.main_category_color, sc.sub_category_name, sc.sub_category_id, sc.sub_category_color
        order by mc.main_category_id, sc.sub_category_id;
    </select>

</mapper>