<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="visang.dataplatform.dataportal.mapper.DataOrgMapper">

    <!-- 데이터 조직도 : 조직도에 속한 모든 컴퍼니, 서비스 정보 보여주기 -->
    <select id="getAllOrgInfo" resultType="QueryResponseAllOrgData">
        select tci.company_name,
               tci.company_color,
               tsi.service_name,
               tsi.service_color
        from tb_company_info tci
        join tb_service_info tsi on tci.company_id = tsi.company_id
        order by 1, 3;
    </select>

    <!-- 데이터 조직도 : 원하는 서비스에 해당하는 시스템 정보 보여주기 -->
    <select id="getSystemInfo" resultType="QueryResponseSystemInfo">
        select tci.company_name,
               tsi.service_name,
               tssi.service_web_url,
               tssi.service_os,
               tssi.service_was,
               tssi.service_db,
               tssi.service_mngr_tkcg,
               tssi.service_mngr_dept,
               tssi.service_mngr_name
        from tb_company_info tci
        join tb_service_info tsi on tci.company_id = tsi.company_id
        left join tb_service_system_info tssi on tsi.service_id = tssi.service_id
        where tsi.service_name = trim(#{name});
    </select>

    <!-- 데이터 조직도 : 원하는 서비스에 해당하는 시스템 정보 보여주기 -->
    <select id="getSystemByTarget" resultType="String">
        select tsi.service_name
        from tb_company_info tci
        join tb_service_info tsi on tci.company_id = tsi.company_id
        left join tb_service_target_mapping tstm on tsi.service_id = tstm.service_id
        left join tb_service_target_info tsti on tstm.target_id = tsti.target_id
        where tsti.target_name = trim(#{targetName});
    </select>

    <!-- 데이터 조직도 : 검색한 대분류 데이터셋을 가지고 있는 서비스명 반환 -->
    <select id="getSystemByMainDataset" resultType="String">
        select distinct tsi.service_name
        from tb_company_info tci
        join tb_service_info tsi on tci.company_id = tsi.company_id
        join tb_table_meta_info ttmi on tsi.service_id = ttmi.service_id
        join tb_main_category tmc on ttmi.main_category_id = tmc.main_category_id
        where tmc.main_category_name like concat('%', trim(#{keyword}), '%');
    </select>

</mapper>