<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="visang.dataplatform.dataportal.mapper.DataPlatformMainMapper">

    <!-- 데이터 플랫폼 메인 : 검색한 데이터 셋을 포함하고 있는 서비스 명 조회 -->
    <select id="getServiceList" resultType="DatasetSearchDto">
        select distinct tsi.service_name, tmc.main_category_name as dataset_name
        from tb_company_info tci
                 join tb_service_info tsi on tci.company_id = tsi.company_id
                 left join tb_table_meta_info ttmi on tsi.service_id = ttmi.service_id
                 left join tb_main_category tmc on ttmi.main_category_id = tmc.main_category_id
        where main_category_name like concat('%', trim(#{keyword}), '%')
        or service_name like concat('%', trim(#{keyword}), '%')

        order by 1;
    </select>

</mapper>