<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="visang.dataplatform.dataportal.mapper.DataOrgMapper">

    <!-- 데이터 조직도 : 원하는 서비스에 해당하는 시스템 정보 보여주기 -->
    <select id="getSystemInfo" resultType="DataOrgSystemInfoDto">
        select tci.company_name,
               tsi.service_name,
               tssi.service_web_url,
               tssi.service_os,
               tssi.service_was,
               tssi.service_db
        from tb_company_info tci
        join tb_service_info tsi on tci.company_id = tsi.company_id
        left join tb_service_system_info tssi on tsi.service_id = tssi.service_id
        where tsi.service_name = #{name};
    </select>

</mapper>