<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="visang.dataplatform.dataportal.mapper.DataMapMapper">

    <!-- 데이터 맵 : 대분류 단위까지 -->
    <select id="getMapMainData" resultType="QueryResponseDataMap" fetchSize="1000">
        select tci.company_name,
               tci.company_color,
               tsi.service_name,
               tsi.service_color,
               tmc.main_category_name,
               tmc.main_category_color
        from tb_company_info tci
        join tb_service_info tsi on tci.company_id = tsi.company_id
        left join tb_table_meta_info ttmi on tsi.service_id = ttmi.service_id
        left join tb_main_category tmc on ttmi.main_category_id = tmc.main_category_id
        group by tci.company_name, tci.company_color, tsi.service_name, tsi.service_color, tmc.main_category_name, tmc.main_category_color
        order by 1,3;
    </select>

    <!-- 데이터 맵 : 중분류 단위까지 -->
    <select id="getMapSubData" resultType="QueryResponseDataMap" fetchSize="1000">
        select tci.company_name,
               tci.company_color,
               tsi.service_name,
               tsi.service_color,
               tmc.main_category_name,
               tmc.main_category_color,
               tsc.sub_category_name,
               tsc.sub_category_color
        from tb_company_info tci
        join tb_service_info tsi on tci.company_id = tsi.company_id
        left join tb_table_meta_info ttmi on tsi.service_id = ttmi.service_id
        left join tb_main_category tmc on ttmi.main_category_id = tmc.main_category_id
        left join tb_sub_category tsc on ttmi.sub_category_id = tsc.sub_category_id
        group by tci.company_name, tci.company_color, tsi.service_name, tsi.service_color, tmc.main_category_name, tmc.main_category_color, tsc.sub_category_name, tsc.sub_category_color
        order by 1,3,5;
    </select>

    <!-- 데이터 맵 : 선택된 대분류만 보여주기 -->
    <select id="getPrimaryDataset" resultType="String">
        select distinct tmc.main_category_name
        from tb_company_info tci
        join tb_service_info tsi on tci.company_id = tsi.company_id
        left join tb_table_meta_info ttmi on tsi.service_id = ttmi.service_id
        left join tb_main_category tmc on ttmi.main_category_id = tmc.main_category_id
        where tmc.main_category_name is not null
        order by 1;
    </select>

</mapper>