<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="visang.dataplatform.dataportal.mapper.MetaDataMapper">

    <select id="getMainCategory" resultType="String">
        select distinct tsc.sub_category_name
        from tb_company_info tci
        join tb_service_info tsi on tci.company_id = tsi.company_id
        inner join tb_table_meta_info ttmi on tsi.service_id = ttmi.service_id
        inner join tb_main_category tmc on ttmi.main_category_id = tmc.main_category_id
        inner join tb_sub_category tsc on ttmi.sub_category_id = tsc.sub_category_id
        and tsi.service_name = #{serviceName} and tmc.main_category_name = #{mainCategoryName};
    </select>

</mapper>