<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="visang.dataplatform.dataportal.mapper.MetaDataMapper">

    <!-- 서비스명에 맞는 커스텀 대분류 데이터 셋 보여주기 -->
    <select id="getMainDataset" resultType="String">
        select tmc.main_category_name
        from tb_company_info tci
        join tb_service_info tsi on tci.company_id = tsi.company_id
        left join tb_table_meta_info ttmi on tsi.service_id = ttmi.service_id
        left join tb_main_category tmc on ttmi.main_category_id = tmc.main_category_id
        where 1=1
            and tmc.main_category_name is not null
            and tsi.service_name = trim(#{serviceName})
        <choose>
            <when test="limit != null">
                group by tmc.main_category_name
                order by count(*) desc
                limit #{limit}
            </when>
            <otherwise>
                group by tmc.main_category_name
                order by count(*) desc
            </otherwise>
        </choose>
    </select>

    <!-- 서비스와 대분류 데이터셋에 맞는 커스텀 대분류 데이터 셋 보여주기 -->
    <select id="getSubDataset" resultType="String">
        select tsc.sub_category_name
        from tb_company_info tci
        join tb_service_info tsi on tci.company_id = tsi.company_id
        left join tb_table_meta_info ttmi on tsi.service_id = ttmi.service_id
        left join tb_main_category tmc on ttmi.main_category_id = tmc.main_category_id
        left join tb_sub_category tsc on ttmi.sub_category_id = tsc.sub_category_id
        where 1=1
            and tsc.sub_category_name is not null
            and tsi.service_name = trim(#{serviceName})
            and tmc.main_category_name = trim(#{mainCategoryName})
        <choose>
            <when test="limit != null">
                group by tsc.sub_category_name
                order by count(*) desc
                limit #{limit}
            </when>
            <otherwise>
                group by tsc.sub_category_name
                order by count(*) desc
            </otherwise>
        </choose>
    </select>

    <!-- 서비스와 대분류 및 중분류 카테고리에 해당하는 메타 테이블 정보를 반환  -->
    <select id="getMetaDataWithSubCategory" resultType="QueryResponseMeta" fetchSize="1000">
        select tsc.sub_category_name,
               ttmi.table_meta_info_id,
               ttmi.table_id,
               ttmi.table_comment,
               ttmi.small_clsf_name
        from tb_company_info tci
        join tb_service_info tsi on tci.company_id = tsi.company_id
        join tb_table_meta_info ttmi on tsi.service_id = ttmi.service_id
        join tb_main_category tmc on ttmi.main_category_id = tmc.main_category_id
        join tb_sub_category tsc on ttmi.sub_category_id = tsc.sub_category_id
        where 1=1
            and tsi.service_name = trim(#{serviceName})
            and tmc.main_category_name = trim(#{mainCategoryName})
            and tsc.sub_category_name = trim(#{subCategoryName});
    </select>

    <!-- 검색 시, 선택한 검색 기준과 입력한 검색 키워드에 해당하는 메타 테이블 정보 반환 -->
    <select id="getTableSearchResult" resultType="TableSearchDto" fetchSize="1000">
        select ttmi.table_id,
               ttmi.table_comment,
               ttmi.small_clsf_name,
               count(*) over () as total_num
        from tb_company_info
        join tb_service_info tsi on tb_company_info.company_id = tsi.company_id
        join tb_table_meta_info ttmi on tsi.service_id = ttmi.service_id
        where 1=1
            and tsi.service_name = trim(#{serviceName})
          <choose>
              <when test="searchCondition == 'table_id'">
                  and (ttmi.table_id ilike concat('%', trim(#{tableKeyword}), '%')
              </when>
              <when test="searchCondition == 'table_comment'">
                  and (ttmi.table_comment like concat('%', trim(#{tableKeyword}), '%')
              </when>
              <when test="searchCondition == 'small_clsf_name'">
                  and ttmi.small_clsf_name like concat('%', trim(#{tableKeyword}), '%')
              </when>
              <otherwise>
              </otherwise>
          </choose>
        limit #{amountPerPage}
        offset (#{pageNo} - 1) * #{amountPerPage};
    </select>

    <!-- 메타 테이블 선택 시, 해당 테이블의 컬럼 정보 반환 -->
    <select id="getTableColumnInfo" resultType="QueryResponseTableColumnInfo" fetchSize="1000">
        select ttmdi.table_col_id,
               ttmdi.table_col_datatype,
               ttmdi.table_col_comment
        from tb_table_meta_info ttmi
        inner join tb_table_meta_detail_info ttmdi on ttmi.table_meta_info_id = ttmdi.table_meta_info_id
        where ttmi.table_id = #{tableId};
    </select>

</mapper>