<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="visang.dataplatform.dataportal.mapper.StdDomainMapper">

    <select id="getStdDomains" parameterType="integer"
            resultType="visang.dataplatform.dataportal.model.dto.stdcheck.response.SimpleStdDomainDto">
        SELECT tsd.domain_idx,
               tdg.domain_group_nm,
               tdc.domain_category_nm,
               tsd.domain_nm,
               tsd.data_type,
               tsd.data_length
        FROM tb_domain_group tdg
                 JOIN tb_domain_category tdc ON tdg.domain_group_idx = tdc.domain_group_idx
                 JOIN tb_std_domain tsd ON tdc.domain_category_idx = tsd.domain_category_idx
        WHERE domain_idx > (#{page_num} - 1) * 10
        ORDER BY domain_idx ASC LIMIT 10;
    </select>

    <select id="getStdDomain" parameterType="integer"
            resultType="visang.dataplatform.dataportal.model.dto.stdcheck.response.StdDomainDetailDto">
        SELECT tsd.domain_idx,
               tdg.domain_group_nm,
               tdc.domain_category_nm,
               tsd.domain_nm,
               tsd.domain_desc,
               tsd.data_type,
               tsd.data_length,
               tsd.decimal_point_length,
               tsd.allowed_values,
               tsd.store_format,
               tsd.represent_format
        FROM tb_domain_group tdg
                 JOIN tb_domain_category tdc ON tdg.domain_group_idx = tdc.domain_group_idx
                 JOIN tb_std_domain tsd ON tdc.domain_category_idx = tsd.domain_category_idx
        WHERE domain_idx = #{domain_idx}
    </select>

    <insert id="createStdDomain" useGeneratedKeys="true" keyProperty="domain_idx"
            parameterType="visang.dataplatform.dataportal.model.dto.stdcheck.request.CreateStdDomainDto">
        insert into tb_std_domain (domain_category_idx, domain_nm, domain_desc, data_type, data_length,
                                   decimal_point_length, store_format, represent_format, allowed_values)
        values (#{domain_category_idx}, #{domain_nm}, #{domain_desc}, #{data_type}, #{data_length},
                #{decimal_point_length}, #{store_format}, #{represent_format}, #{allowed_values});
    </insert>

    <update id="updateStdDomain"
            parameterType="visang.dataplatform.dataportal.model.dto.stdcheck.request.UpdateStdDomainDto">
        UPDATE tb_std_domain
        SET domain_nm            = #{domain_nm},
            domain_desc          = #{domain_desc},
            data_type            = #{data_type},
            data_length          = #{data_length},
            decimal_point_length = #{decimal_point_length},
            store_format         = #{store_format},
            represent_format     = #{represent_format},
            allowed_values       = #{allowed_values}
        WHERE domain_idx = #{domain_idx}
    </update>

    <delete id="deleteStdDomain" parameterType="integer">
        DELETE
        FROM tb_std_domain
        WHERE domain_idx = #{domain_idx}
    </delete>

</mapper>