<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="visang.dataplatform.dataportal.mapper.StdWordMapper">

    <select id="getStdWords" parameterType="integer"
            resultType="visang.dataplatform.dataportal.model.dto.stdcheck.response.SimpleStdWordDto">
        SELECT word_idx,
               word_logical_nm,
               word_physical_nm
        FROM tb_std_word
        WHERE word_idx > (#{page_num} - 1) * 10
        ORDER BY word_idx ASC LIMIT 10;
    </select>

    <select id="getStdWord" parameterType="long"
            resultType="visang.dataplatform.dataportal.model.dto.stdcheck.response.StdWordDetailDto">
        SELECT word_idx,
               word_logical_nm,
               word_physical_nm,
               word_logical_desc,
               word_physical_desc,
               synonym_list
        FROM tb_std_word
        WHERE word_idx = #{word_idx}
    </select>

    <insert id="createStdWord" useGeneratedKeys="true" keyProperty="word_idx"
            parameterType="visang.dataplatform.dataportal.model.dto.stdcheck.request.CreateStdWordDto">
        INSERT INTO tb_std_word(word_logical_nm, word_physical_nm, word_logical_desc,
                                word_physical_desc, synonym_list)
        VALUES (#{word_logical_nm}, #{word_physical_nm}, #{word_logical_desc},
                #{word_physical_desc}, #{synonym_list})
    </insert>

    <update id="updateStdWord"
            parameterType="visang.dataplatform.dataportal.model.dto.stdcheck.request.UpdateStdWordDto">
        UPDATE tb_std_word
        SET word_logical_nm    = #{word_logical_nm},
            word_physical_nm   = #{word_physical_nm},
            word_logical_desc  = #{word_logical_desc},
            word_physical_desc = #{word_physical_desc},
            synonym_list       = #{synonym_list}
        WHERE word_idx = #{word_idx}
    </update>

    <delete id="deleteStdWord" parameterType="long">
        DELETE
        FROM tb_std_word
        WHERE word_idx = #{word_idx}
    </delete>

</mapper>